
@import url('main.css');
@import url('header.css');
@import url('sidebar.css');
@import url('games.css');
@import url('auth.css');
@import url('modal.css');
@import url('responsive.css');
@import url('game-details.css'); 
@import url('responsive.css');
@import url('notifications.css');